/* 
violet : #9356DC
rose : #FF79DA
aqua : #99E2D0
*/

/* GENERIC */
*, *:before, *:after {
  box-sizing: border-box;
}

.box {
  box-sizing: border-box; /* Opera/IE 8+ */ 
}

html {
  font-family: 'Roboto', 'sans serif';
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: black;
  min-width: 250px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

ul {
  list-style-type: none !important;
  padding-left: 0;
}

/* MAIN */
body {
  margin: auto;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
}

main {
}

/* LOGO */
header {
  margin: auto;
  text-align: center;
  font-size: 32px;
}

header p {
  margin: 15px auto;
}

.shrikhand {
  font-family: 'Shrikhand', cursive;
}

/* LOCATION */
.location {
  background-color: #ddd;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 3px 3px gray;
  color: #444;
  font-weight: 500;
}

.location i {
  margin-right: 10px;
}

/* EXPLORE */
.explore {
  background-color: #f3f3f3;
  padding : 20px;
  text-align: center;
}

.explore p {
  color: gray;
} 

button {
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}

button:hover {
  background-color:   rgba(255,182,235,1);
  background: linear-gradient(0deg, rgba(174,121,237,1) 0%, rgba(255,182,235,1) 100%);
}

/* FONCTIONNEMENT */
.fonctionnement-container {
  max-width: 1000px;
  margin: auto;
}

.fonctionnement {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  padding : 20px;
}

.fonctionnement-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 5px 10px lightgray;
  font-weight: 600;
}

.fonctionnement-list-numero {
  color: white;
  border-radius: 30px;
  background-color: #9356DC;
  padding: 5px 10px;
  margin-left: -25px;
  font-weight: 400;
}

.fonctionnement i {
  margin: 0 20px;
  color: gray;
  font-size: 20px;
}

/* RESTAURANTS */
.restaurants-container {
  background-color: #f3f3f3;
}

.restaurants {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 0;
  padding: 20px;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.restaurant-card {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  border-radius: 20px;
  box-shadow: 0 5px 10px lightgray;
}

.restaurant-new {
  position: absolute;
  margin-top: 20px;
  margin-left: -95px;
  background-color: #a9e0d1;
  text-align: center;
  font-weight: 500;
  color: #408b6e;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 0 5px black;
  z-index: 1;
}

.restaurant-card img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 175px;
}

.restaurant-card-info {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px 15px;
}

.restaurant-card-text {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  gap: 5px;
}

.restaurant-card p {
  font-size: 18px;
  margin: 0;
}

.restaurant-name {
  font-weight: 600;
}

.restaurant-location {
  font-weight: 300;
}

.restaurant-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 10px;
  /* font-size: 24px; */
}

.fa-regular.fa-heart {
  color: black;
  font-size: 24px;
}

.fa-solid.fa-heart {
  color: #408b6e;
  font-size: 0px;
  transition: all ease-in-out 0.5s;
}

span.fa-stack:hover .fa-solid.fa-heart  {
  font-size: 24px;
}

/* FOOTER */
.footer-container {
  background-color: #444;
}

footer {
  background-color: #444;
  color: white;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.ohmyfood {
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
}

footer i {
  font-size: 12px;
  margin-right: 10px;
}

footer li {
  margin: 10px 0;
}

footer li:nth-child(-n+2) {
  font-weight: 400;
}

footer li:nth-child(n+3) {
  font-weight: 300;
}

/* LOADER */
/*  
.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
}

.loader {
  position: absolute;
  left: calc(50vw - 60px);
  top: calc(50vh - 60px);
}

.load-bar1 {
  border: 10px solid transparent;
  border-top: 10px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.load-bar2 {
  border: 10px solid transparent;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.load-bar3 {
  border: 10px solid transparent; 
  border-top: 10px solid #99E2D0; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#hideBackground {
  animation: hideBackground 1s linear 2s forwards;
  animation-fill-mode: forwards;
}
@keyframes hideBackground {
  to {
    opacity: 0;
    overflow:hidden;
    visibility:hidden;
    transform-origin: 50% 50%;
  }
}

#hideSpinner {
  animation: hideSpinner 1s linear 2s forwards;
  animation-fill-mode: forwards;
}
@keyframes hideSpinner {
  to {
    transform: scale(0);
    opacity: 0;
    overflow:hidden;
    visibility:hidden;
    transform-origin: 50% 50%;
  }
} */

