/* 
COLORS 
blue: #0065FC
lightblue: #DEEBFF
grey: #F2F2F2
*/

/* GENERIC */
*, *:before, *:after {
  box-sizing: border-box;
}

.box {
  box-sizing: border-box; /* Opera/IE 8+ */ 
}

html {
  font-family: 'Raleway', 'sans serif';
  font-size: 16px;
  max-width: 1380px;
  margin: auto ;
  scroll-behavior: smooth;
  padding: 0 20px;
  transition: all ease-in-out 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none !important;
  padding-left: 0;
}
  
h1 {
  margin: 0;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  html {
    padding: 0;
  }

  .top, .activites {
    padding: 0 20px;
  }

  .hebergements, .populaires {
    padding: 0;
  }
}

/* NAV BAR */
nav {
  display: flex;
  padding-bottom: 20px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

nav img {
  width: 100px;
}

.jump-to {
  display: flex;
  flex-flow: row wrap;
}

.jump-to a {
  padding: 40px;
  flex: 1 1 0;
  text-align: center;
  transition: all ease-in-out 0.2s;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.jump-to a:hover {
  color:#0065FC;
  border-top: 3px solid #0065FC;
  border-bottom: 3px solid transparent;
}

@media screen and (max-width: 768px) {
  nav {
    flex-flow: column wrap;
  }

  .jump-to {
      width: 100%;
  }

  .jump-to a {
    padding: 20px;
    border-bottom: 3px solid lightgrey;
  }

  .jump-to a:hover {
    border-top: 3px solid transparent;
    border-bottom: 3px solid #0065FC;  
  }
}

/* SEARCH BAR */
.search-bar {
  display: flex;
}

.search-bar-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  border: 2px solid rgb(240, 240, 240);
  font-size: 18px;
  font-weight: bold;
}

.search-bar .fa-location-dot {
  padding: 15px 20px;
  border-radius: 15px 0 0 15px;
  font-size: large;
}

.search-bar input {
  font-weight: bold;
  padding: 15px;
  border-style: none;
  outline: none;
  width: 100%;
}

.search-bar a {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 0 2px #0065FC;
  transition: all ease-in-out 0.2s;
}

.search-bar a:hover {
  background-color: #00255c;
  box-shadow: 0 0 0 1px #00255c;
}

.search-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .search-bar {
    justify-content: center;
  }
  .search-icon{
    display: inline;
  }
  .search-bar a {
    border-radius: 15px;
  }
  .search-text {
    display: none;
  }
}

/* FILTERS */
.filters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.filters-name {
  margin-right: 30px;
}

.filters a {
  display: flex;
  align-items: center;
}

.filters ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;
}

.filters li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 2px solid #DDDDDD;
  border-radius: 30px;
  transition: all ease-in-out 0.2s;
}

.filters li:hover {
  transform: scale(1.05);
  background-color: #DDDDDD;
}

.filters span {
  padding: 13px 12px;
  background-color: #DEEBFF;
  box-shadow: 0 0 0 2px #DEEBFF;
  border-radius: 50%;
  color: #0065FC;
}

.filters li p {
  margin-left: 10px;
  padding-right: 10px;
  margin: 0 10px;
}

/* INFO */
.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.info i {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  color: #0065FC;
  font-size: 14px;    
  width: 25px;
  height: 25px;
  padding: 4px;
}

/* HEBERGEMENTS & POPULAIRES */
.hebergements-et-populaires {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  align-items: flex-start;
}

.card-title {
  font-size: 16px;
}

.card-price {
  font-size: 14px;
}

.card-rating {
  font-size: 12px;
}

.card-rating > i {
  margin-right: -2px;
}

.star-blue {
  color: #0065FC;
}

.star-grey {
  color: #DDDDDD;
}

/* HEBERGEMENTS */
.hebergements {
  display: flex;
  flex-flow: column wrap;
  border-radius: 20px;
  padding: 40px;
  background-color: #F2F2F2;
  gap: 20px;
  min-width: 50%;
  flex: 2 1 0;
}

.hebergements-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 30px;
}

.hebergements-card {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  padding: 5px 5px 10px 5px;
  border-radius: 20px;
  min-width: 200px;
  width: 250px;
  box-shadow: 0 0 20px rgb(200, 200, 200);
  gap: 10px;
  flex: 1 1 0;
  transition: all ease-in-out 0.2s;
}

.hebergements-card:hover {
  background-color: #DEEBFF;
  transform: scale(1.05);
}

.hebergements-card img {
  width: 100%;
  height: 115px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.hebergements-card .card-title {
  margin-bottom: -3px;
} 

.hebergements-card p {
  margin: 0 10px;
}

.hebergements-afficher-plus {
  margin-bottom: auto;
  font-size: 18px;
}

.hebergements-afficher-plus:hover {
  text-decoration: underline;
}

/* POPULAIRES */
.populaires {
  display: flex;
  flex-flow: column wrap;
  border-radius: 20px;
  padding: 40px;
  background-color: #F2F2F2;
  gap: 20px;
  margin: 0 auto;
  flex: 1 2 0;
}

.populaires-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.populaires-title .fa-star {
  font-size: 20px;
}

.populaires-container {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
}

.populaires-card {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  min-width: 310px;
  min-height: 145px;
  flex: 1 1 0;
  box-shadow: 0 0 20px rgb(200, 200, 200);
  transition: all ease-in-out 0.2s;
}

.populaires-card:hover {
  background-color: #DEEBFF;
  transform: scale(1.05);
}

.populaires-card img {
  width: 130px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.populaires-card-info {
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .hebergements-et-populaires {
    flex-flow: column nowrap;
  }

  .populaires {
    order: -1;
  }
}

@media screen and (max-width: 768px) {
  .hebergements{
    background-color: white;
    padding: 20px;
    width: 100%;
  }

  .hebergements-container {
    flex-flow: column nowrap;
  }

  .hebergements-card {
    width: 100%;
  }

  .populaires{
    width: 100%;
    padding: 20px;
    border-radius: 0;
  }
}


/* ACTIVITES */
.activites {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  margin-top: 40px;
}

.activites-cards-container {
  display: flex;
  flex-flow: column wrap;
  gap: 45px;
  max-width: 100%;
  height: 60vh;
  align-content: space-between
}

.activites-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(200, 200, 200);
  width: calc(25% - 45px);
  /* min-width: 200px; */
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}

.activites-card:hover {
  background-color: #DEEBFF;
  transform: scale(1.05);
}

.activites-card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.activites-card-image-div {
  height: 80%;
  flex: 1 1 0;
  overflow: hidden;
}

.activites-card p {
  margin: 20px;
}

.vieux-port {
  height: 100%;
}

.fort-de-pomegues {
  height: 50%;
}

.iles-du-frioul {
  height: calc(50% - 45px);
}

.parc-national-des-calanques {
  height: 100%;
}

.notre-dame-de-la-garde {
  height: calc(50% - 45px);
}

.parc-longchamp {
  height: 50%;
}

@media screen and (max-width: 992px) {
  .activites-cards-container {
    height: fit-content;
    flex-flow: row wrap;
  }

  .activites-card {
    height: 200px !important;
    width: auto;
    flex: 1 1 calc(50% - 45px);
  }
}

@media screen and (max-width: 768px) {
  .activites-cards-container {
    flex-flow: column nowrap;
  }
  
  .activites-card {
    flex: none;
    max-width: 100%;
  }
}

/* FOOTER */
footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #F2F2F2;
  margin: 40px auto 0 auto;
  padding: 40px;
  align-items: baseline;
  gap: 40px;
}

footer div {
  flex: 1 1 0;
  min-width: max-content;
}

.footer-title {
  margin: 0 0 20px 0;
}

footer ul {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  footer {
    flex-flow: column nowrap;
  }
}